import library

In [ ]:
import pandas as pd

Load the dataset

In [ ]:
data = pd.read_csv('Sales_Profit_Data_Electrical_Appliances.csv')

 Display the first 5 rows of the dataset

In [ ]:
data.head()

Display the last 5 rows of the dataset

In [ ]:
data.tail()

Get the number of rows and columns

In [ ]:
data.shape

Get the column names

 Get the data types of each column

In [ ]:
data.dtypes

Check for missing values

In [ ]:
data.isnull().sum()

Describe the dataset

In [ ]:
data.describe()

Find unique values in the 'Region' column

In [ ]:
data['Region'].unique()

Filter data for a specific region (e.g., Europe)

In [ ]:
europe_data = data[data['Region'] == 'Europe']
europe_data

Group by 'Region' and get the mean of 'Sales'

In [ ]:
region_sales_mean = data.groupby('Region')['Sales'].mean()
region_sales_mean

Sort data by 'Sales' in descending order

In [ ]:
sorted_data = data.sort_values(by='Sales', ascending=False)
sorted_data

Create a new column 'Total Cost' (Unit Cost * Order Qty)

In [ ]:
data['Total Cost'] = data['Unit Cost'] * data['Order Qty']
data.head()

 Filter data where 'Profit' is negative

In [ ]:
negative_profit = data[data['Profit'] < 0]
negative_profit

Get the maximum 'Sales' value

In [ ]:
max_sales = data['Sales'].max()
max_sales

Get the row with the maximum 'Sales' value

In [ ]:
max_sales_row = data.loc[data['Sales'].idxmax()]
max_sales_row

Get the minimum 'Profit' value

In [ ]:
min_profit = data['Profit'].min()
min_profit

 Get the row with the minimum 'Profit' value

In [ ]:
min_profit_row = data.loc[data['Profit'].idxmin()]
min_profit_row

Calculate the total 'Sales' for each 'Product Category'

In [ ]:
total_sales_category = data.groupby('Product Category')['Sales'].sum()
total_sales_category.apply(int)

Plot a bar chart of total 'Sales' by 'Product Category'

In [ ]:
import matplotlib.pyplot as plt
total_sales_category.plot(kind='bar')
plt.ylabel('Total Sales')
plt.title('Total Sales by Product Category')
plt.show()


#plt.savefig("tofile.jpg")

Calculate the average 'Unit Cost' for each 'Product Category'

In [ ]:
avg_unit_cost_category = data.groupby('Product Category')['Unit Cost'].mean()
avg_unit_cost_category

Find the number of unique 'Product Name'

In [ ]:
unique_products = data['Product Name'].nunique()
unique_products

Get the top 5 'Product Name' by 'Sales'

In [ ]:
top_products_by_sales = data.groupby('Product Name')['Sales'].sum().nlargest()
top_products_by_sales

Get the number of orders for each 'Channel'

In [ ]:
orders_per_channel = data['Channel'].value_counts()
print(orders_per_channel)

Calculate the total 'Profit' for each 'Country'

In [ ]:
total_profit_country = data.groupby('Country')['Profit'].sum()
total_profit_country.apply(int)

Plot a pie chart of total 'Sales' by 'Region'

In [ ]:
total_sales_region = data.groupby('Region')['Sales'].sum()
total_sales_region.plot(kind='pie', autopct='%1.1f%%')
plt.title('Total Sales by Region')

Create a new column 'Profit Margin' (Profit / Sales)

In [ ]:
data['Profit Margin'] = data['Profit'] / data['Sales']
data['Profit Margin']

Find the top 10 orders by 'Profit Margin'

In [ ]:
top_orders_by_profit_margin = data.sort_values(by='Profit Margin', ascending=False).head(10)
top_orders_by_profit_margin

Group by 'Country' and get the count of orders

In [ ]:
orders_per_country = data.groupby('Country')['Order ID'].count()
orders_per_country

Calculate the average 'Price' for each 'Product Sub Category'

In [ ]:
avg_price_sub_category = data.groupby('Product Sub Category')['Price'].mean()
avg_price_sub_category

 Filter data for a specific manufacturer (e.g., Contoso, Ltd)

In [ ]:
contoso_data = data[data['Manufacturer'] == 'Contoso, Ltd']
contoso_data

Calculate the total 'Sales' and 'Profit' for each 'Manufacturer'

In [ ]:
sales_profit_manufacturer = data.groupby('Manufacturer')[['Sales', 'Profit']].sum()
sales_profit_manufacturer.applymap(int)

Plot a line chart of 'Sales' over time

In [ ]:
data['Order Date'] = pd.to_datetime(data['Order Date'])
sales_over_time = data.groupby('Order Date')['Sales'].sum()
sales_over_time.plot(kind='line')
plt.ylabel('Total Sales')
plt.title('Sales Over Time')
plt.show()

Calculate the total 'Sales' for each 'City'

In [ ]:
total_sales_city = data.groupby('City')['Sales'].sum()
total_sales_city

Plot a bar chart of total 'Sales' by 'City'

In [ ]:
top_cities_by_sales = total_sales_city.nlargest(10)
top_cities_by_sales.plot(kind='bar')
plt.ylabel('Total Sales')
plt.title('Top 10 Cities by Total Sales')
plt.show()

 Calculate the average 'Order Qty' for each 'Promotion Name'

In [ ]:
avg_order_qty_promotion = data.groupby('Promotion Name')['Order Qty'].mean()
avg_order_qty_promotion

Get the number of orders for each 'Product Sub Category'

In [ ]:
orders_per_sub_category = data['Product Sub Category'].value_counts()
orders_per_sub_category

Calculate the total 'Cost of Sales' for each 'Channel'

In [ ]:
total_cost_channel = data.groupby('Channel')['Cost of Sales'].sum()
total_cost_channel.apply(int)

Calculate the total 'Profit' for each 'Region'

In [ ]:
total_profit_region = data.groupby('Region')['Profit'].sum()
total_profit_region

Plot a bar chart of total 'Profit' by 'Region'

In [ ]:
total_profit_region.plot(kind='bar')
plt.ylabel('Total Profit')
plt.title('Total Profit by Region')
plt.show()

Find the top 5 'Promotion Name' by 'Sales'

In [ ]:
top_promotions_by_sales = data.groupby('Promotion Name')['Sales'].sum().nlargest(5)
top_promotions_by_sales

Calculate the average 'Price' for each 'Manufacturer'

In [ ]:
avg_price_manufacturer = data.groupby('Manufacturer')['Price'].mean()
avg_price_manufacturer

Filter data for a specific product category (e.g., Computers)

In [ ]:
computers_data = data[data['Product Category'] == 'Computers']
computers_data

Calculate the total 'Sales' for each 'Promotion Name'

In [ ]:
total_sales_promotion = data.groupby('Promotion Name')['Sales'].sum()
total_sales_promotion

Plot a bar chart of total 'Sales' by 'Promotion Name'

In [ ]:
top_promotions_by_sales.plot(kind='bar')
plt.ylabel('Total Sales')
plt.title('Top 5 Promotions by Total Sales')
plt.show()

Calculate the total 'Sales' and 'Profit' for each 'Product Sub Category'

In [ ]:
sales_profit_sub_category = data.groupby('Product Sub Category')[['Sales', 'Profit']].sum()
print(sales_profit_sub_category)

Get the average 'Profit Margin' for each 'Region'

In [ ]:
avg_profit_margin_region = data.groupby('Region')['Profit Margin'].mean()
avg_profit_margin_region

Filter data for orders with 'Order Qty' greater than 10

In [ ]:
large_orders = data[data['Order Qty'] > 10]
large_orders

Calculate the total 'Sales' for each 'City' in Europe

In [ ]:
europe_sales_city = europe_data.groupby('City')['Sales'].sum()
europe_sales_city.apply(int)

Find the top 5 'City' by 'Sales' in Europe

In [ ]:
europe_sales_city

In [ ]:
top_cities_by_sales_europe = europe_sales_city.nlargest(5)
top_cities_by_sales_europe